* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  height: 100vh;
  display: flex;
  background: white;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
} */
.wrapper {
  text-align: center;
}

a {
  color: white;
  margin-top: 15px;
  display: inline-block;
}

/* HEADER STYLING */

header {
  background: black;
  height: 20vh;
}

.logo {
  padding: 5vh;
}

/* SLIDER STYLING */

#sliderimage {
  margin: auto;
  width: 80%;
}

#sliderimage img {
  width: 80%;
}

#slidertext {
  background-color: black;
  height: 20vh;
  width: 40vw;
}

#slidertext p {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 50vh;
  color: white;
  margin: 0 auto;
  max-width: 500px;
  padding: 40px;
}
/* SPONSORS STYLING */

#sponsorheadline {
  text-align: center;
  margin-top: 5%;
}

#sponsorimages {
  margin: auto;
  width: 80%;
}

#sponsorimages img {
  margin: 1vw;
  width: 80px;
}

/* FOOTER STYLING */

footer {
  background-color: black;
  width: 80%;
  height: 100vh;
  margin: auto;
}

footer h1,
h2,
h3,
p {
  color: white;
}

#footertop {
  display: flex;
  padding: 5vw;
}

.footerbar {
  width: 75%;
  margin: auto;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#footersocialmedia {
  margin-left: 15vw;
}

#footersocialmedia img {
  padding: 10px;
}

#footerbottom {
  display: flex;
  padding: 5vw;
}

#footerabout {
  width: 40%;
  font-size: 0.8rem;
}

#instagramfeed {
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 50px 50px 50px;
  gap: 2.5vw;
}

#footercontact {
  margin-left: 5vw;
}
